.about-us-inner {
	padding: 4rem 2rem 2rem;
}

.main__title {
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 600;
}

.main__desc {
	font-size: 1.25rem;
	font-weight: 500;
}

.our-team-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 400px));
	gap: 1rem;
	margin-top: 30px;
	justify-content: center;
}

.milestones-section {
	min-height: 100svh;
}

.milestones-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: rgba(0, 0, 0, 0.1);
	gap: 2px;
}

.milestone {
	background: #fff;
	padding: 20px;

	p {
		&:nth-child(1) {
			font-weight: 600;
			font-size: 1.5rem;
		}

		&:nth-last-child(1) {
			font-size: 1.125rem;
		}
	}
}

@media (width <= 700px) {
	.about-us {
		padding: 4rem 0.75rem 2rem;
	}

	.milestones-container {
		grid-template-columns: repeat(2, 1fr);

		.milestone {
			&:nth-last-child(1) {
				display: none;
			}
		}
	}
}

@media (width <= 600px) {
	.milestones-container {
		grid-template-columns: repeat(1, 1fr);

		.milestone {
			&:nth-last-child(1) {
				display: none;
			}

			&:nth-last-child(2) {
				display: none;
			}
		}
	}
}
