.about-us {
	padding: 2rem;
}

.main__title {
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 600;
}

.main__desc {
	font-size: 1.25rem;
	font-weight: 500;
}

.our-team-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 30px;
}
