.about-us {
	padding: 110px 2rem 2rem;
}

.main__title {
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 600;
}

.main__desc {
	font-size: 1.25rem;
	font-weight: 500;
}

.our-team-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 400px));
	gap: 1rem;
	margin-top: 30px;
	justify-content: center;
}

@media (width <= 700px) {
	.about-us {
		padding: 110px 0.75rem 2rem;
	}
}
