.about {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	text-align: center;
	padding: 120px 30px;
}

.about__title {
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 500;
}

.about__details {
	font-size: clamp(1rem, 2vw, 1.5rem);
}

@media (width <= 900px) {
	.about {
		padding: 105px 15px;
	}
}
