@use "./../../mixins" as *;

.form-wrapper {
    background: #fff;
    min-height: 100lvh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 30px;
    padding: 120px 30px 30px;
}

.form-title {
    font-size: clamp(2rem, 8vw, 4rem);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input-container {
    @include flex-center;
    gap: 15px;
}

.label-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    padding-left: 7.5px;
    font-size: 1rem;
}

input {
    font-size: 1rem;
    padding: 7.5px;
}

textarea {
    font-size: 1rem;
    resize: vertical;
    padding: 7.5px;

    &:focus {
        outline: none;
    }
}

.input-border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    height: 1px;
    width: 0;
    animation-timing-function: var(--cstm-cubic-bezier);
}

@keyframes animateInputBorderWidth {
    100% {
        width: 100%;
    }
}

.form__btn {
    position: relative;
    z-index: 1;
    align-self: flex-end;
    padding: 10px 50px;
    border: 1px solid #000;
    font-weight: inherit;
    transition: color 0.3s;
    transition-timing-function: var(--cstm-cubic-bezier);
}

.form__btn:hover {
    color: #fff;
}

.form__btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: #000;
    height: 100%;
    width: 0;
    transition: width 0.3s;
    transition-timing-function: var(--cstm-cubic-bezier);
}

.form__btn:hover::before {
    width: 100%;
}

@media (width <= 900px) {
    .form-wrapper {
        padding: 105px 15px 15px;
        row-gap: 15px;
    }
}

@media (width <= 600px) {
    .input-container {
        flex-direction: column;
    }
}
