.project3 {
    background-color: #fff;
    padding: 130px 30px 30px;
    display: flex;
    gap: 30px;
}

.project3-info {
    width: 50%;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

@media (width <= 900px) {
    .project3 {
        flex-direction: column;
        padding: 115px 15px 30px;
    }

    .project3-info {
        width: 100%;
    }
}
