@use "./../../mixins" as *;

.page-title {
    position: relative;
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    padding: 0 30px;
    color: #fff;

    span {
        opacity: 0.5;
    }
}

// .page-title::before {
//     content: "";
//     position: fixed;
//     left: 0;
//     top: 0;
//     z-index: -10;
//     display: block;
//     width: 100%;
//     height: inherit;
//     background: url("./../../assets/img/4.jpg") no-repeat center center;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     animation: animateHomeWrapper 200s linear infinite;
// }

.page-title-bg-img-wrapper {
    position: fixed;
    // left: 0;
    // top: 0;
    // right: 0;
    // bottom: 0;
    width: 100%;
    height: 100svh;
    z-index: -10;
    overflow: hidden;
}

.page-title-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: animateHomeWrapper 100s linear infinite;
    opacity: 0;
    transition: all 1s;
}

.page-title-bg-img--active {
    opacity: 1;
}

.title {
    font-size: clamp(2rem, 6vw, 8rem);
}

.link-title {
    position: relative;
    color: #fff;
}

.link-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s;
    transition-timing-function: var(--cstm-cubic-bezier);
}

.link-title:hover::before {
    transform: scaleX(1);
}

.page-title__btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 0;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    transition: color 0.5s;
    transition-timing-function: var(--cstm-cubic-bezier);
}

.page-title__btn:hover {
    color: #000;
}

.page-title__btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s;
    transition-timing-function: var(--cstm-cubic-bezier);
}

.page-title__btn:hover::before {
    transform: scaleX(1);
}

@media (width <= 900px) {
    .page-title {
        padding: 0 15px;
    }

    .page-title__btn {
        bottom: 15px;
        left: 15px;
    }
}
