@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin grid-center {
	display: grid;
	place-content: center;
}

@mixin flex-center-start {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@mixin flex-start-center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@mixin flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

@mixin flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-between-end {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

@mixin flex-around-start {
	display: flex;
	justify-content: space-around;
	align-items: start;
}

@mixin flex-evenly-start {
	display: flex;
	justify-content: space-evenly;
	align-items: start;
}

@mixin glass-effect {
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
}

@mixin bg-clr-text {
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
