@use "reset" as *;
@use "variables" as *;

html {
	scroll-behavior: smooth;
}

html,
body {
	overscroll-behavior: none; /* Prevent scroll chaining */
}

body {
	font-family: var(--font-montserrat);
	color: #000;
	background: #fff;
	//
	overflow-x: hidden;
	//
	padding-top: 80px;
}

.body--hidden {
	overflow: hidden;
}

#root {
	display: flex;
	flex-direction: column;
}

.section {
	padding-top: 110px;
}

.section__title {
	font-size: clamp(1.5rem, 4vw, 2.5rem);
	font-weight: 600;
}

.section__desc {
	font-size: 1.25rem;
}
