.home {
    height: 100svh;
    background-image: url("./../../assets/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;

    p {
        font-size: 2rem;
        color: #fff;
    }
}

.home__title {
    color: #fff;
    font-size: 4rem;
}

@media (width <= 900px) {
    .home {
        padding: 0 15px;
    }
}
