.project-page {
	background: #fff;
	padding: 2rem 30px 30px;
	display: flex;
	gap: 30px;
}

.project-page-inner {
	max-width: 1920px;
	margin: 0 auto;
}

.project-page__info {
	width: 50%;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.project-page__details-title {
	font-size: 18px;
	font-weight: 500;
}

.project-page__title {
	font-size: clamp(2rem, 6vw, 3rem);
	font-weight: 500;
}

.project-page__link-btn {
	margin-left: auto;
	position: relative;
	z-index: 1;
	background: #000;
	align-self: flex-start;
	padding: 10px 15px;
	border-radius: 5px;
	color: #000;
	font-weight: 500;

	&::after {
		content: "";
		position: absolute;
		inset: 2px;
		background: #fff;
		border-radius: 2.5px;
		z-index: -1;
	}

	&::before {
		content: "";
		position: absolute;
		top: 5px;
		right: 5px;
		height: calc(100% - 10px);
		border-top: 2px solid black;
		border-right: 2px solid black;
		aspect-ratio: 1/1;
		z-index: 10;
		transform: scale(0.5);
		transform-origin: top right;
		transition: transform 0.5s;
		transition-timing-function: var(--cstm-cubic-bezier);
	}

	&:hover::before {
		transform: scale(0.75);
	}
}

@media (width <= 900px) {
	.project-page {
		flex-direction: column;
		padding: 1rem 15px 30px;
	}

	.project-page__info {
		width: 100%;
	}
}
