@use "@/styles/mixins" as *;

.home-bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100svh;
	object-fit: cover;
	object-position: center;
	z-index: -10;
	overflow: hidden;
}

.home-bg-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.7);
	opacity: 0;
	transition: opacity 1s;
	animation: animateHomeBgImg 12s linear infinite;
}

.home-bg-img--active {
	opacity: 1;
}

@keyframes animateHomeBgImg {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}

	40% {
		opacity: 1;
	}
	50% {
		transform: scale(1.05);
		opacity: 0;
	}
	60% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.home-hero {
	position: relative;
	min-height: 100svh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 90px 30px 0;
}

.home__secondary-title {
	font-size: clamp(1.5rem, 4vw, 3rem);
	color: #fff;
}

.home__title {
	color: #fff;
	font-size: clamp(3rem, 10vw, 6rem);
	font-weight: 500;
}

.hero__heading {
	font-size: clamp(3rem, 4vw, 4rem);
	color: #fff;
	font-weight: 700;
	max-width: 1000px;
}

.hero__subheading {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	max-width: 1000px;
}

.home-hero__footer {
	// position: absolute;
	// bottom: 30px;
	left: 30px;
	right: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 30px;
}

.home-hero__link {
	position: relative;
	color: #fff;
}

.home-hero__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--scroll-clr);
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.5s;
	transition-timing-function: var(--cstm-cubic-bezier);
}

.home-hero__link:hover::before {
	transform: scaleX(1);
}

.home__btn {
	position: relative;
	padding: 15px;
	color: #000;
	font-weight: 500;
	background: #fff;
	border-radius: 5px;
	transition: color 0.5s;
	transition-timing-function: var(--cstm-cubic-bezier);

	&:hover {
		color: #000;

		&::before {
			transform: scale(0.75);
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 5px;
		right: 5px;
		height: calc(100% - 10px);
		border-top: 2px solid black;
		border-right: 2px solid black;
		aspect-ratio: 1/1;
		z-index: 10;
		transform: scale(0.5);
		transform-origin: top right;
		transition: transform 0.5s;
		transition-timing-function: var(--cstm-cubic-bezier);
	}

	&:nth-last-child(1) {
		color: #ffffff;
		background: #000000;

		&::before {
			border-top: 2px solid rgb(255, 255, 255);
			border-right: 2px solid rgb(255, 255, 255);
		}
	}
}

.home__btn .home__btn:hover .home__bottom {
	background-color: #fff;
}

.active-project {
	position: relative;
	font-size: clamp(3rem, 4vw, 4rem);
	font-weight: 500;
	color: #fff;
	overflow: hidden;
	@include glass-effect;
	border-radius: 15px;
	padding: 20px;

	&::before {
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		bottom: 10px;
		left: 10px;
		border-bottom: 2px solid white;
		border-left: 2px solid white;
	}

	&::after {
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		top: 10px;
		right: 10px;
		border-top: 2px solid white;
		border-right: 2px solid white;
	}
}

.active-project-inner {
	display: inline-block;
	transform: translateY(100%);
	transition: all 0.5s;

	&--animate {
		transform: translateY(0%);
		transition: all 1s;
	}
}

@media (width <= 900px) {
	.home-hero {
		padding: 90px 15px 0;
	}

	.home-hero__footer {
		bottom: 15px;
		left: 15px;
		right: 15px;
		gap: 15px;
	}
}
