@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin glass-effect {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
