@use "reset" as *;
@use "fonts" as *;
@use "variables" as *;

body {
    font-family: "Montserrat", serif;
    background: #ffffff;
    color: #000000;
}

#root {
    height: 3000px;
    display: flex;
    flex-direction: column;
}
