@use "reset" as *;
@use "fonts" as *;
@use "variables" as *;

// html {
//     scroll-behavior: smooth;
// }

body {
    font-family: "Montserrat", serif;
    background: #ffffff;
    color: #000000;
}

#root {
    display: flex;
    flex-direction: column;
}
